:root {
    --font-color: #373737;
    --bg-color: #fff;
}
  
[data-theme="dark"] {
    --font-color: #f3f3f3;
    --bg-color: #373737;
}

html {
    height: 100%;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    color: var(--font-color);
    background-color: var(--bg-color);
}
div{
    max-width: 80%;
    margin: 0 auto;
    position: relative;
}
blockquote{
    border-left: 1px blue solid;
    padding-left: 10px;
}

.toolbar {
    background-color: var(--bg-color);
    padding: 13px;
    top: 0;
    width: 100%;
    z-index: 10;
    position: -webkit-sticky; 
    position: sticky;
}
.toolbar-left {
    float: left;
}

.toolbar-right {
    float: right;
    margin-right: 10px;
}
.toolbar-left .item {
    margin-right: 8px;
    display: inline-block;
}

.toolbar-left .item.text {
    color: #888;
    font-size: 16px;
    padding: 10px 0;
    opacity: 0.3;
}
.toolbar .clear {
    clear: both;
}

.btn {
    height: 30px;
    width: 100px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: inline-block;
    margin: 0 2px;
    padding: 0 16px;
    background: rgba(0,0,0,0);
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    text-align: center;
    border: 0.5px #888 solid;
    color: #888;
    vertical-align: middle;
    cursor: pointer;
    font-family: 'Roboto Slab', serif;
    opacity: 0.3;
    transition: all .3s ease-in-out;
}

.btn:hover {
    opacity: 1.0;
}

#file-contents {
    margin-top: 10px;
}

[contenteditable="true"]:focus {
    outline: none;
}

.modal:before {
    content: "";
    display: none;
    background: var(--bg-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}
.opened:before {
    display: block;
}
.opened .modal-dialog {
    transform: translate(0, 0);
    top: 20%;
}
.modal-dialog {
    background: #fefefe;
    border: #333333 solid 0px;
    border-radius: 5px;
    margin-left: -200px;
    position: fixed;
    left: 25%;
    top: -100%;
    z-index: 11;
    width: 80%;
    box-shadow:0 5px 10px rgba(0,0,0,0.3);
    transition: transform 0.3s ease-out;
}
.modal-body {
    padding: 20px;
}
.modal-body input{
    width:600px;
    font-family: 'Roboto Slab';
    padding:20px 0;
    border: none;
    outline:0;
    font-weight: 400;
    margin-top: 10px;
}
.modal-header,
.modal-footer {
    padding: 5px 0;
    margin: 20px 0;
}
.modal-header {
    color: var(--font-color);
    font-size: 22px;
    font-weight: 600;
    /*border-bottom: #eeeeee solid 1px;*/
}
.modal-header h2 {
    font-size: 20px;
}
#post-title{
    font-size: 20px;
    color: var(--font-color);
}

#post-tags{
    font-size:16px;
    color: #888;
}
.btn-close {
    color: #e60023;
    font-size: 30px;
    text-decoration: none;
    position: absolute;
    right: 10px;
}
.btn-close:hover {
    color: #333;
}
.publishBtn {
    background: mediumseagreen;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    padding: 10px 20px;
    margin: 20px auto;
    text-decoration: none;
    text-align: center;
    min-width: 60px;
    position: relative;
    transition: color .1s ease;
}
.post-meta,
.post-info {
    font-size:16px;
    color: #bbb;
}

.post-meta {
    color: #888;
}

a.min-action {
    margin-left: 5px;
    color: #e24e42;
    font-size: 14px;
    text-decoration: none;
    border-bottom: 1px solid #e24e42;
}

input[type="text"]#post-path-fixed{
    -webkit-appearance:none!important;
    color:#e24e42;
    text-align:left;
    width:100px;
    border-bottom:1px solid gray;
    background:white;
    padding: 0px;
    margin-top: 0;
}
input[type="text"]#post-path-input{
    -webkit-appearance:none!important;
    border-bottom:1px solid gray;
    outline:none;
    width: 150px;
    padding: 0px;
    margin:0 0 0 -15px;
}